

body {
    background-image: url('/static/background.png'); 
    background-size: 78%; 
    background-position: center;
    background-attachment: fixed; 
    margin: 0; 
    padding: 0; 
    height: 70vh; 
}
